@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
.transition{
    transition: all .4s ease;
}
.scale:hover{
    transform: translateY(-2px) scale(1.02);
}
body::-webkit-scrollbar{
    width: 6px;
    border-radius: 200px;
    background-color: #222;
}
body::-webkit-scrollbar-thumb{
    width: 6px;
    border: 200px;
    background-color: #3b82f6;
}
.shadown{
    box-shadow: 0 0 24px rgba(36, 38, 114, 0.18);
}
.shadown-2{
    box-shadow: 2px 4px 12px rgba(36, 38, 114, 0.12);
}
.skeleton-image{
    width: 300px;
    height: 200px;
    background: linear-gradient(45deg, 
        #cbd5e1, 
        #f1f5f9,
        #cbd5e1
    );
    background-size: 200% 200%;
    animation: backgroundInimate .4s linear alternate infinite;
}
.bg-skeleton{
    background: linear-gradient(45deg, 
        #cbd5e1, 
        #f1f5f9,
        #cbd5e1
    );
    background-size: 200% 200%;
    animation: backgroundInimate .4s linear alternate infinite;
}
.skeleton-bg{
    background: linear-gradient(45deg, 
        #cbd5e1, 
        #f1f5f9,
        #cbd5e1
    );
    background-size: 200% 200%;
    animation: backgroundInimate .4s linear alternate infinite;
}
.border{
    border: 1px solid rgb(190, 195, 202);
}
.asideStyle{
    border-right: 1px solid rgb(190, 195, 202);
    background-color: #fff;
}
.main-content{
    background-color: #fff;
    min-height: 90vh;
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}
.produtcs-selection a{
    cursor: pointer;
}
.productContainer{
    max-height: 80vh;
}
.productContent{
    overflow-y: auto;
    min-height: 83vh;
    flex-grow: 1;
}
.productContent::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    border-radius: 200px;
    background: linear-gradient(
        transparent,
        rgba(36, 38, 114, 0.11),
        transparent
    );
}
.productContent::-webkit-scrollbar-thumb{
    background:  rgba(36, 39, 114, 0.22);
    border-radius: 200px;
}
.backButton{
    position: absolute;
    right: 8px;
    cursor: pointer;
}
.produto__btnMobile{
    display: none;
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 4px;
    flex-direction: column;
    padding-top: 3px;
    gap: 4px;
}
.ln{
    width: 90%;
    display: block;
    position: absolute;
    top: 4px;
    height: 4px;
    border-radius: 200px !important;
    background-color: #94a3b8;
    box-shadow: 0 0 24px rgba(36, 39, 114, 0.514);
    transition: all .4s ease;
}
.__ln2{
    top: 12px;
    width: 78%;
}
.__ln3{
    top: 20px;
    width: 60%;
}
.dropmenu{
    transition: all .4s ease;
}
.newProduct input{
    border: 1px solid #333;
    border-radius: 6px;
    padding: 1px 6px;
    width: 500px;
}
.form_edit_product h2{
    font-weight: bold;
    font-size: 20px;
}
select{
    border: 1px solid #8f8f8f;
    border-radius: 0.25rem;
}
.form_edit_product input{
    outline: none;
    border: 1px solid #8f8f8f;
    border-radius: 0.35rem;
    padding: 2px 8px;
}
.form_edit_product input[type=submit]{
    margin-top: 20px;
    width: fit-content;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    padding: 0.3rem 4rem;
}
.AlertDialogOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 1000;
}
  
.AlertDialogContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    pointer-events: auto;
}
.alertSucesso{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
}  

@media screen and (max-width: 1368px){
    aside{
        min-width: 0 !important;
        max-width: 80px !important;
    }
}
@media screen and (max-width: 1100px){
    .skeletonPending{
        gap: 25px !important;
    }
    .skeletonPending div{
        flex: 0 0 auto;
    }

}
@media screen and (max-width: 980px){
    aside{
        position: fixed !important;
        left: 0;
        top: 0;
        max-width: none !important;
        width: 18rem;
    }
}
@media screen and (max-width: 860px){
    .pendingProducts{
        min-width: 100%;
        width:max-content;
    }
}
@media screen and (max-width: 720px){
    .AlertDialogContent{
        width: 92%;
    }
}
@media screen and (max-width: 600px){
    .produto__selectionContent{
        display: none;
    }
    .produto__btnMobile{
        display: flex;
    }
    .productContainer > .flex{
        gap: 15px;
    }
}
@media screen and (max-width: 500px){
    .dropmenu a{
        width: 100%;
        display: block;
        padding: 3px 0.8rem;
        font-size: 18px;
        font-weight: bold;
    }
    .productContent .pendingProducts > div{
        gap: 60px !important;
    }
}



/* HEIGHT */
@media screen and (max-height: 1140px){
    .productContent{
        min-height: 82vh;
    }
}
@media screen and (max-height: 980px){
    .productContent{
        min-height: 80vh;
    }
}
@media screen and (max-height: 850px){
    .main-content{
        max-height: 88vh !important;
        min-height: 0 !important;
    }
    .productContent{
        min-height: 70vh;
    }
}

@keyframes backgroundInimate{
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}